html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: large;
    text-align: center;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    box-sizing: border-box;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

#autocomplete-input {
    width: 260px;
    font-size: 1rem;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.list-container {
    display: flex;
    position: absolute;
    max-height: 500px;
    top: 80px;
    right: 20px;
    overflow-y: none;
    z-index: 10;
}

gmp-place-search {
    width: 400px;
    margin: 0;
    display: none;
    border: none;
}

gmp-place-details-compact {
    width: 350px;
    max-height: 800px;
    margin-right: 20px;
    display: none;
    border: none;
}

.gm-fullscreen-control, .gm-svpc, .gm-svpc span, .gm-control-active, .gm-control, .gm-control-icon, .gm-control-max-width, .gm-control-min-width, .gm-control-min-height, .gm-control-max-height, .gm-control-active, .gm-control-hover, .gm-control-disabled, .gm-control-pegman {
    display: none !important;
}
.gm-svpc, .gm-pegman {
    display: none !important;
}

.gmnoprint, .gm-style-cc, .gm-style-cc span, .gm-style-cc a, .gm-style-cc div, .gm-style-mtc, .gm-style-mtc span, .gm-style-mtc a, .gm-style-mtc div {
    display: none !important;
}
